* {
  background-image: radial-gradient( circle 321px at 8.3% 75.7%,  rgba(209,247,241,1) 0%, rgba(249,213,213,1) 81% );
}

h1 {
  color: rgb(147, 49, 4);
  font-size: 50px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 5px solid rgb(255, 230, 0);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: rgb(39, 53, 53);
  font-weight: bold;
}

a {
  background: rgb(255, 0, 0);
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 30px 0;
  font-size: 20px;
  box-shadow: 10px 10px 5px #f53c3c;
  opacity: 0.8;
  font-family: Verdana, Arial, Tahoma, sans-serif;
}

a:hover {
  border: 5px solid rgb(51, 255, 0);
  color: rgb(14, 236, 32);
}